___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(95)
np.random.randint(5,1000)

411

In [3]:
df=pd.DataFrame(data,index,col)
df

NameError: name 'data' is not defined

In [ ]:
randn(5,5)

In [21]:
df = pd.DataFrame(randn(5,5),columns=['A','B','C','D','E'])

In [26]:
df

          A         B         C         D         E
0  1.185470  1.296357  1.590838  0.260279 -0.737732
1  1.749277  1.176340 -1.320827  0.444949 -0.013275
2 -1.756148  0.889319 -0.579737  1.063278  0.176148
3  0.362635  0.936623  1.585047 -0.769591 -0.637248
4  0.237169 -0.524578  0.190021 -1.403660  0.127169

In [30]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
print(type(data))
df = pd.DataFrame(data,columns=['Name','Age'])
df

<class 'list'>

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [31]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [32]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print(df1)
print(df2)

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

In [25]:
from numpy.random import randn
print(np.random.seed(101))

None

In [33]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [95]:
df = pd.DataFrame(randn(100,5),columns=['A','B','C','D','E'])
df.tail()

           A         B         C         D         E
95  0.224652 -0.947249 -0.299514 -0.316131  0.741697
96  0.796317 -1.238878 -0.511176 -1.120223  0.874833
97  2.033826 -0.964446 -0.296399  0.068230 -1.320108
98  1.423517 -0.554623  0.795726  0.739428 -0.765796
99  1.661744  0.576633  1.010494 -1.378467  0.089153

In [96]:
df.head()

          A         B         C         D         E
0 -0.024478  0.837452 -0.923214 -0.385611 -1.593742
1  1.407620 -1.345469  0.634898 -0.791559  0.144905
2  0.211305 -0.441381 -0.425730 -0.463503  0.907501
3  1.481638 -2.115492 -0.124010 -0.627090  0.486006
4  0.507497  0.282324  1.287198 -0.681157 -0.212789

In [97]:
df.count

<bound method DataFrame.count of            A         B         C         D         E
0  -0.024478  0.837452 -0.923214 -0.385611 -1.593742
1   1.407620 -1.345469  0.634898 -0.791559  0.144905
2   0.211305 -0.441381 -0.425730 -0.463503  0.907501
3   1.481638 -2.115492 -0.124010 -0.627090  0.486006
4   0.507497  0.282324  1.287198 -0.681157 -0.212789
..       ...       ...       ...       ...       ...
95  0.224652 -0.947249 -0.299514 -0.316131  0.741697
96  0.796317 -1.238878 -0.511176 -1.120223  0.874833
97  2.033826 -0.964446 -0.296399  0.068230 -1.320108
98  1.423517 -0.554623  0.795726  0.739428 -0.765796
99  1.661744  0.576633  1.010494 -1.378467  0.089153

[100 rows x 5 columns]>

In [98]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
E    float64
dtype: object

In [99]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [100]:
df.describe()

                A           B           C           D           E
count  100.000000  100.000000  100.000000  100.000000  100.000000
mean     0.005636    0.093947   -0.001564   -0.112432    0.010523
std      1.067678    1.092149    1.115827    0.945691    0.912666
min     -2.567012   -2.801442   -2.651821   -2.807339   -2.360118
25%     -0.741350   -0.719396   -0.702430   -0.768182   -0.645604
50%      0.094509    0.080240   -0.056159   -0.104830    0.022941
75%      0.731394    0.690408    0.753103    0.594016    0.586943
max      2.219418    3.001705    2.598265    1.766453    2.346481

In [76]:
df['sum']=df['A']+df['B']+df['C']

In [87]:
df.head()

          A         B         C         D         E
0 -0.915289 -1.906402 -0.506211 -1.282703  0.127991
1 -0.376270  1.100047 -0.236909  0.071908 -0.336582
2 -1.568464 -0.876390 -0.991853 -0.214227 -0.256839
3  0.887412 -0.688050 -0.828077  0.277642 -1.529615
4  1.949579  1.562089  0.978875 -1.148851  0.463707

In [94]:
df.drop(columns=['D','E'],axis=2)

           A         B         C
0  -0.915289 -1.906402 -0.506211
1  -0.376270  1.100047 -0.236909
2  -1.568464 -0.876390 -0.991853
3   0.887412 -0.688050 -0.828077
4   1.949579  1.562089  0.978875
..       ...       ...       ...
95 -0.330313 -0.258970  1.791780
96 -1.011163  0.997363 -0.155183
97  1.077717 -0.279246 -0.840031
98 -0.411871 -1.034042 -0.683759
99 -0.376892 -1.321355  1.463125

[100 rows x 3 columns]

In [92]:
df1=df.drop(columns=['D','E'],axis=2)

In [89]:
df1.head()

          A         B         C
0 -0.915289 -1.906402 -0.506211
1 -0.376270  1.100047 -0.236909
2 -1.568464 -0.876390 -0.991853
3  0.887412 -0.688050 -0.828077
4  1.949579  1.562089  0.978875

In [85]:
del df['sum']

KeyError: 'sum'

In [82]:
temp=df.pop('F')

0    -0.300440
1     1.049299
2    -0.407927
3     0.993355
4     0.778296
        ...
95    1.777139
96    0.246874
97   -1.043009
98   -0.863985
99    1.341163
Name: F, Length: 100, dtype: float64

In [67]:
df[['A','B','C']].iloc[5:20]

           A         B         C
5   0.059218 -1.535523  0.672311
6  -0.206459  0.859022  0.329904
7  -0.490843 -0.144605 -0.734745
8   1.281401  0.707860  0.664621
9  -0.090783 -1.316458 -0.229150
10 -0.869738 -0.567537  0.546137
11  3.054468 -1.296794 -0.915255
12 -1.705177  0.619471 -0.886954
13 -0.498056 -1.040048  2.353415
14 -3.090471  0.844183  0.310672
15 -0.173351  0.621415 -2.253714
16 -1.827241  0.369639 -0.068333
17 -0.411330 -0.217150 -0.616100
18 -0.469907  0.659857  0.478053
19 -0.264122 -1.295732  0.870849

In [75]:
df['F']=randn(100,1)

In [61]:
df[['A','B']].iloc[0:10]

          A         B
0 -0.915289 -1.906402
1 -0.376270  1.100047
2 -1.568464 -0.876390
3  0.887412 -0.688050
4  1.949579  1.562089
5  0.059218 -1.535523
6 -0.206459  0.859022
7 -0.490843 -0.144605
8  1.281401  0.707860
9 -0.090783 -1.316458

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [187]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [188]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [189]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

DataFrame Columns are just Series

In [190]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [191]:
df['new'] = df['W'] + df['Y']

In [192]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

** Removing Columns**

In [193]:
df.drop('new',axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [194]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [195]:
df.drop('new',axis=1,inplace=True)

In [196]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

Can also drop rows this way:

In [197]:
df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

** Selecting Rows**

In [198]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

Or select based off of position instead of label

In [199]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [200]:
df.loc['B','Y']

-0.84807698340363147

In [201]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [202]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [203]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [204]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [205]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [206]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [207]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

For two conditions you can use | and & with parenthesis:

In [208]:
df[(df['W']>0) & (df['Y'] > 1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [209]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [210]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [211]:
newind = 'CA NY WY OR CO'.split()

In [212]:
df['States'] = newind

In [213]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [214]:
df.set_index('States')

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [215]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [216]:
df.set_index('States',inplace=True)

In [218]:
df

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [253]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [254]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [257]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.153661  0.167638
   2 -0.765930  0.962299
   3  0.902826 -0.537909
G2 1 -1.549671  0.435253
   2  1.259904 -0.447898
   3  0.266207  0.412580

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [260]:
df.loc['G1']

          A         B
1  0.153661  0.167638
2 -0.765930  0.962299
3  0.902826 -0.537909

In [263]:
df.loc['G1'].loc[1]

A    0.153661
B    0.167638
Name: 1, dtype: float64

In [265]:
df.index.names

FrozenList([None, None])

In [266]:
df.index.names = ['Group','Num']

In [267]:
df

                  A         B
Group Num
G1    1    0.153661  0.167638
      2   -0.765930  0.962299
      3    0.902826 -0.537909
G2    1   -1.549671  0.435253
      2    1.259904 -0.447898
      3    0.266207  0.412580

In [270]:
df.xs('G1')

            A         B
Num
1    0.153661  0.167638
2   -0.765930  0.962299
3    0.902826 -0.537909

In [271]:
df.xs(['G1',1])

A    0.153661
B    0.167638
Name: (G1, 1), dtype: float64

In [273]:
df.xs(1,level='Num')

              A         B
Group
G1     0.153661  0.167638
G2    -1.549671  0.435253

# Great Job!